@font-face {
  font-family: 'avenirRegular';
  src: url("../fonts/AvenirNextLTPro-Regular.otf"); }
@font-face {
  font-family: 'avenirBold';
  src: url("../fonts/AvenirNextLTPro-Bold.otf"); }
@font-face {
  font-family: 'avenirHeavy';
  src: url("../fonts/AvenirNextLTPro-Heavy.otf"); }
html, body {
  height: 100%;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: 'avenirRegular', Arial; }

h1 {
  font-family: 'avenirHeavy';
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px; }

h2 {
  text-transform: uppercase;
  font-family: 'avenirBold';
  font-size: 30px; }

h3 {
  font-family: 'avenirBold';
  font-size: 18px; }

p {
  font-family: 'avenirRegular';
  font-size: 16px;
  color: #aaa; }

a {
  color: #f56aa1;
  font-family: 'avenirBold';
  text-transform: uppercase;
  font-size: 16px; }

.no-scroll {
  overflow: hidden; }

.page {
  position: relative;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: white;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); }

.central-panel {
  width: 70%;
  margin: 0 auto; }

.loader-overlayer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #282071;
  z-index: 14;
  transition: all 200ms ease; }
  .loader-overlayer.hide-loader {
    opacity: 0;
    visibility: hidden; }
  .loader-overlayer .loader-wrapper {
    text-align: center;
    margin-top: 290px; }
  .loader-overlayer .loader {
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: white;
    animation: rotateSpinner 800ms ease infinite; }

@keyframes rotateSpinner {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.page-content {
  transition: all 200ms ease-out;
  background-color: white; }

.burger-container {
  position: fixed !important;
  display: inline-block;
  top: 40px;
  right: 40px;
  transition: all 200ms ease-in-out;
  z-index: 13;
  color: #8f86dc;
  cursor: pointer; }

.menu-overlayer {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 11;
  transition: all 200ms ease; }
  .menu-overlayer .menu-item-wrapper {
    padding-top: 170px; }
  .menu-overlayer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .menu-overlayer li {
    transform: rotateX(90deg); }
    .menu-overlayer li.item-1 {
      transition: all 200ms linear;
      transition-delay: 100ms; }
    .menu-overlayer li.item-2 {
      transition: all 200ms linear;
      transition-delay: 200ms; }
    .menu-overlayer li.item-3 {
      transition: all 200ms linear;
      transition-delay: 300ms; }
    .menu-overlayer li.item-4 {
      transition: all 200ms linear;
      transition-delay: 400ms; }
  .menu-overlayer .menu-item {
    display: block;
    background-color: #282071;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0 15px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 2px 0px #141414;
    transition: all 200ms ease; }
    .menu-overlayer .menu-item:hover {
      color: #f56aa1; }
  .menu-overlayer.open {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    visibility: visible; }
    .menu-overlayer.open li {
      transform: rotateX(0deg); }

header {
  background-color: #282071;
  background-image: url("../images/header-bkg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; }

.frontend-brand {
  color: #f56aa1;
  font-family: 'avenirBold';
  font-size: 16px;
  margin: 0 0 20px 0; }

.header-title-wrapper {
  padding: 30px 0px;
  width: 60%; }
  .header-title-wrapper .header-title {
    color: white;
    text-shadow: 0px 2px 0px #141414; }
  .header-title-wrapper .header-subtitle {
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 28px;
    color: white;
    text-shadow: 0px 2px 0px #141414;
    margin: 0 0 20px 0; }

.projects-wrapper {
  overflow-y: hidden;
  transition: all 800ms ease-in-out; }

.projects {
  padding: 30px 0; }
  .projects.projects-right .info-wrapper {
    text-align: end; }
  .projects .project-thumbnail {
    height: 100px;
    width: 40%;
    background-color: #ccc;
    height: 200px; }
  .projects .project-info {
    width: 55%;
    padding: 0 15px; }
    .projects .project-info h3 {
      margin-top: 0;
      color: #111; }
    .projects .project-info a {
      text-decoration: underline; }
  .projects.projects-left > div {
    float: left; }
  .projects.projects-right > div {
    float: right; }
  .projects:after {
    content: '';
    clear: both;
    display: table; }

.buttons {
  margin: 30px auto;
  display: block;
  border: 2px solid #f56aa1;
  border-radius: 2px;
  transition: all 200ms ease;
  text-decoration: none;
  cursor: pointer;
  width: 250px;
  height: 53px;
  position: relative;
  opacity: 1; }
  .buttons a {
    transition: all 200ms ease;
    margin: 15px 20px 10px 20px;
    display: block; }
  .buttons:hover {
    background-color: #f56aa1; }
    .buttons:hover a {
      color: white;
      pointer-events: none; }

.centre-button {
  text-align: center; }

.work-loader-wrapper {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 200ms ease;
  opacity: 0; }
  .work-loader-wrapper .work-loader {
    margin-top: 8px;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f56aa1;
    animation: rotateSpinner 800ms ease infinite; }

.sections-title {
  text-align: center; }
  .sections-title .content {
    margin: 30px 0;
    display: inline-block; }
  .sections-title .left-span {
    display: inline-block; }
  .sections-title .right-span {
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    padding: 15px 6px 10px 6px;
    float: right;
    display: inline-block;
    min-width: 50%;
    text-align: left; }
  .sections-title .pre-title:after {
    content: '';
    clear: both;
    display: table; }

.about-section {
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url("../images/about-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #F7F7F7; }
  .about-section .subparagraph {
    font-size: 16px;
    margin: 40px 0px; }
  .about-section .content {
    text-align: center; }

.work-section .sections-title {
  padding: 0; }

.awards-section {
  padding-bottom: 50px;
  padding-top: 150px;
  background-image: url("../images/awards-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #FFFFFF; }
  .awards-section .skills-chart {
    display: inline-block;
    height: 400px;
    width: 50%;
    float: left; }
  .awards-section .awards-wrapper {
    float: right;
    width: 45%; }
  .awards-section p {
    text-align: left;
    margin: 35px 0; }
  .awards-section:after {
    content: '';
    clear: both;
    display: table; }

.experience-section {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #282071;
  background-image: url("../images/experience-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  color: white; }
  .experience-section h1 {
    text-shadow: 0px 2px 0px #141414; }
  .experience-section .right-span {
    border-left-color: white; }
  .experience-section .awards > div {
    width: 40%;
    display: inline-block; }
  .experience-section .awards-dates {
    text-align: right;
    vertical-align: top; }
    .experience-section .awards-dates p {
      color: white;
      font-size: 24px;
      font-family: 'avenirBold';
      margin: 10px 30px 0 0; }
  .experience-section .awards-details {
    text-align: left;
    max-width: 400px; }
    .experience-section .awards-details .awards-headers {
      color: white;
      font-size: 16px;
      margin-bottom: 0; }

.contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../images/contact-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; }
  .contact-section .content {
    white-space: nowrap; }
  .contact-section .social-media ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin: 0; }
  .contact-section .social-media li {
    display: inline-block;
    padding: 0 10px; }
  .contact-section .social-media .social-icons {
    width: 65px;
    height: 65px;
    display: block;
    transition: all 400ms ease;
    background-size: contain; }
  .contact-section .social-media .twitter {
    background-image: url("../social-icons/twitter-grey.svg"); }
    .contact-section .social-media .twitter:hover {
      background-image: url("../social-icons/twitter.svg");
      transform: scale(1.2); }
  .contact-section .social-media .github {
    background-image: url("../social-icons/github-grey.svg"); }
    .contact-section .social-media .github:hover {
      background-image: url("../social-icons/github.svg");
      transform: scale(1.2); }
  .contact-section .social-media .linkedin {
    background-image: url("../social-icons/linkedin-grey.svg"); }
    .contact-section .social-media .linkedin:hover {
      background-image: url("../social-icons/linkedin.svg");
      transform: scale(1.2); }
  .contact-section .social-media .soundcloud {
    background-image: url("../social-icons/soundcloud-grey.svg"); }
    .contact-section .social-media .soundcloud:hover {
      background-image: url("../social-icons/soundcloud.svg");
      transform: scale(1.2); }
  .contact-section .social-media .email {
    background-image: url("../social-icons/email-grey.svg"); }
    .contact-section .social-media .email:hover {
      background-image: url("../social-icons/email.svg");
      transform: scale(1.2); }

.planets-rebus {
  top: 30px;
  left: 65%;
  position: absolute;
  background-image: url("../images/planets.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 300px; }

.abeja {
  background-image: url("../images/abeja.svg");
  background-repeat: no-repeat;
  height: 66px;
  width: 55px;
  display: inline-block;
  margin-left: 15px; }

.trophy {
  background-image: url("../images/trophy.svg");
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
  display: inline-block;
  float: left;
  margin-right: 15px; }

.g-love {
  background-image: url("../images/g-love.svg");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-left: 15px; }

.face-rebus {
  background-image: url("../images/face.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 90px;
  display: inline-block;
  float: right;
  margin-top: 25px; }

.bat-rebus {
  background-image: url("../images/bat-rebus.svg");
  background-repeat: no-repeat;
  height: 58px;
  width: 80px;
  display: inline-block;
  float: right;
  margin-top: -30px;
  margin-bottom: 30px; }

.card-rebus {
  background-image: url("../images/card-rebus.svg");
  background-repeat: no-repeat;
  height: 48px;
  width: 79px;
  display: inline-block;
  float: right;
  margin-top: -70px; }

.green-rebus {
  background-image: url("../images/green-rebus.svg");
  background-repeat: no-repeat;
  height: 40px;
  width: 120px;
  display: inline-block;
  margin-left: 15px; }

.gallina {
  background-image: url("../images/gallina.svg");
  background-repeat: no-repeat;
  height: 110px;
  width: 120px;
  display: inline-block;
  margin-top: -50px; }

.flight-rebus {
  background-image: url("../images/flight-rebus.svg");
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  float: right; }

#augusto-chart {
  max-height: 450px;
  max-width: 450px; }

.footer-section {
  background-image: url("../images/footer-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 80px;
  height: 170px;
  background-color: #f7f7f7; }
  .footer-section p {
    text-align: center;
    padding: 25px 40px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #f56aa1; }

/*///////////modal/////////*/
.modal {
  position: fixed;
  z-index: 13;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden; }
  .modal.show-modal {
    visibility: visible;
    opacity: 1; }
    .modal.show-modal .modal-wrapper {
      transform: translateY(50px); }
  .modal .modal-wrapper {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    position: relative;
    transition: all 300ms ease; }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 200ms ease; }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

@media only screen and (min-width: 1300px) {
  header {
    min-height: 275px; }

  .header-title-wrapper {
    padding: 50px 0; }

  .planets-rebus {
    top: 50px; } }
@media only screen and (max-width: 880px) {
  .central-panel {
    width: 90%; } }
@media only screen and (max-width: 580px) {
  h1 {
    font-size: 45px; }

  .experience-section .awards > div {
    width: 100%;
    text-align: left; }
  .experience-section .awards-dates p {
    margin: 0; }
  .experience-section .awards {
    padding-top: 35px; }

  .awards-section .sections {
    width: 100%;
    float: none; }
  .awards-section p {
    text-align: center; }

  .frontend-brand {
    font-size: 15px; }

  .projects .project-thumbnail {
    width: 100%; }
  .projects .project-info {
    width: 100%;
    padding: 0; }
    .projects .project-info h3 {
      margin-top: 15px; }

  .contact-section .social-media li {
    padding: 0px 3px; }
  .contact-section .social-media .social-icons {
    width: 45px;
    height: 45px; } }

/*# sourceMappingURL=styles.css.map */
