@font-face {
  font-family: 'avenirRegular';
  src: url("../fonts/AvenirNextLTPro-Regular.otf"); }
@font-face {
  font-family: 'avenirBold';
  src: url("../fonts/AvenirNextLTPro-Bold.otf"); }
@font-face {
  font-family: 'avenirHeavy';
  src: url("../fonts/AvenirNextLTPro-Heavy.otf"); }
html, body {
  height: 100%;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: 'avenirRegular', Arial; }

h1 {
  font-family: 'avenirHeavy';
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px; }

h2 {
  text-transform: uppercase;
  font-family: 'avenirBold';
  font-size: 30px; }

h3 {
  font-family: 'avenirBold';
  font-size: 18px; }

p {
  font-family: 'avenirRegular';
  font-size: 16px;
  color: #797878; }

a {
  color: #f56aa1;
  font-family: 'avenirBold';
  text-transform: uppercase;
  font-size: 13px; }

.no-scroll {
  overflow: hidden; }

.page {
  position: relative;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: white;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); }

.central-panel {
  width: 70%;
  margin: 0 auto; }

.menu-button {
  position: fixed;
  z-index: 10;
  bottom: 13px;
  left: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  height: 46px;
  width: 45px;
  background: url(../images/more-button-of-three-dots.svg);
  background-size: contain; }

.draw::before,
.draw::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%; }

.draw {
  transition: color 0.25s;
  position: fixed;
  z-index: 10;
  bottom: 25px;
  left: 10px;
  padding: 0;
  cursor: pointer;
  outline: none;
  height: 22px;
  width: 67px; }
  .draw::before, .draw::after {
    border: 1px solid transparent;
    transition: all 200ms ease-in;
    width: 0;
    height: 0; }
  .draw::before {
    top: 0;
    left: 0; }
  .draw::after {
    bottom: 0;
    right: 0; }
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%; }
  .draw:hover::before {
    border-top-color: #8F86DD;
    border-right-color: #8F86DD;
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s; }
  .draw:hover::after {
    border-bottom-color: #8F86DD;
    border-left-color: #8F86DD;
    transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s, height 0.15s ease-out 0.5s; }

.no-js .menu-button {
  display: none; }

.loader-overlayer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #1d1e21;
  z-index: 14;
  transition: all 200ms ease;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start; }
  .loader-overlayer.hide-loader {
    opacity: 0;
    visibility: hidden; }
  .loader-overlayer .loader-wrapper {
    text-align: center;
    width: 100%;
    align-self: center; }
  .loader-overlayer .loader {
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: white;
    animation: rotateSpinner 800ms ease infinite; }

@keyframes rotateSpinner {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.page-content {
  transition: all 200ms ease-out;
  background-color: white; }

.burger-container {
  position: fixed !important;
  display: inline-block;
  top: 20px;
  right: 20px;
  transition: all 200ms ease-in-out;
  z-index: 11;
  background: url("../images/burguer-1.svg");
  background-size: contain;
  width: 50px;
  height: 40px;
  cursor: pointer; }

.menu-overlayer {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 11;
  transition: all 200ms ease;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start; }
  .menu-overlayer .menu-item-wrapper {
    align-self: center;
    width: 100%; }
  .menu-overlayer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .menu-overlayer li {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg); }
    .menu-overlayer li.item-1 {
      transition: all 200ms linear;
      transition-delay: 100ms;
      -webkit-transition: all 200ms linear;
      -webkit-transition-delay: 100ms; }
    .menu-overlayer li.item-2 {
      transition: all 200ms linear;
      transition-delay: 200ms;
      -webkit-transition: all 200ms linear;
      -webkit-transition-delay: 200ms; }
    .menu-overlayer li.item-3 {
      transition: all 200ms linear;
      transition-delay: 300ms;
      -webkit-transition: all 200ms linear;
      -webkit-transition-delay: 300ms; }
    .menu-overlayer li.item-4 {
      transition: all 200ms linear;
      transition-delay: 400ms;
      -webkit-transition: all 200ms linear;
      -webkit-transition-delay: 400ms; }
  .menu-overlayer .menu-item {
    display: block;
    background-color: #282071;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0 15px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 2px 0px #141414;
    transition: all 200ms ease; }
    .menu-overlayer .menu-item:hover {
      color: #f56aa1; }
  .menu-overlayer.open {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    visibility: visible; }
    .menu-overlayer.open li {
      transform: rotateX(0deg); }

header {
  background-color: #282071;
  background-image: url("../images/header-bkg-new-sky.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 220px; }
  header .header-bkg {
    background-image: url("../images/header-bkg-new-mountain.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 220px;
    position: relative; }

.frontend-brand {
  color: #f56aa1;
  font-family: 'avenirBold';
  font-size: 16px;
  margin: 0 0 20px 0; }

.header-title-wrapper {
  padding: 20px 0 20px 0;
  width: 60%; }
  .header-title-wrapper .header-title {
    color: white;
    text-shadow: 0px 2px 0px #141414; }
  .header-title-wrapper .header-subtitle {
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 28px;
    color: white;
    text-shadow: 0px 2px 0px #141414;
    margin: 0 0 10px 0; }

.projects-wrapper {
  overflow-y: hidden;
  transition: all 800ms ease-in-out; }

.projects {
  padding: 30px 0; }
  .projects i {
    pointer-events: none; }
  .projects.projects-right .info-wrapper {
    text-align: end; }
  .projects .project-thumbnail {
    width: 40%;
    background: url("../images/preview.jpg");
    background-size: cover;
    background-position-x: center;
    height: 237px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3); }
  .projects .project-info {
    width: 52%;
    padding: 5% 15px 0 15px; }
    .projects .project-info h3 {
      margin-top: 0;
      color: #111;
      margin-bottom: 10px; }
  .projects.projects-left > div {
    float: left; }
  .projects.projects-right > div {
    float: right; }
  .projects:after {
    content: '';
    clear: both;
    display: table; }

.buttons {
  margin: 30px auto;
  display: block;
  border: 1px solid #f56aa1;
  border-radius: 2px;
  transition: all 200ms ease;
  cursor: pointer;
  width: 200px;
  height: 45px;
  position: relative;
  opacity: 1;
  text-align: center; }
  .buttons a {
    transition: all 200ms ease;
    margin-top: 15px;
    display: block; }
  .buttons:hover {
    background-color: #f56aa1; }
    .buttons:hover a {
      color: white;
      pointer-events: none; }

.work-buttons-section .icons-buttons {
  display: inline-block;
  padding: 7px 7px 4px 7px;
  font-size: 14px;
  margin-right: 5px;
  border: 1px solid #f56aa1;
  font-family: 'avenirRegular';
  text-transform: capitalize;
  text-align: center;
  min-width: 77px;
  transition: all 200ms ease; }
  .work-buttons-section .icons-buttons:hover {
    background-color: #f56aa1;
    color: white; }
.work-buttons-section .live-icon {
  color: #1d1e21;
  border-color: #1d1e21; }
  .work-buttons-section .live-icon:hover {
    background-color: #1d1e21; }
.work-buttons-section i {
  margin: 0 4px; }

.work-loader-wrapper {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-color: #f56aa1;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 200ms ease;
  opacity: 1;
  transform: rotateX(90deg);
  transform-origin: bottom; }
  .work-loader-wrapper .work-loader {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f56aa1;
    top: 7px;
    position: relative;
    box-shadow: 0px -10px 0px 11px white inset;
    animation: rotate .8s infinite ease; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.sections-title {
  text-align: center; }
  .sections-title .content {
    margin: 30px 0;
    display: inline-block; }
  .sections-title .left-span {
    display: inline-block; }
  .sections-title .right-span {
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    padding: 15px 6px 10px 6px;
    float: right;
    display: inline-block;
    min-width: 50%;
    text-align: left; }
  .sections-title .pre-title:after {
    content: '';
    clear: both;
    display: table; }

.about-section {
  padding-bottom: 5px;
  padding-top: 50px;
  background-image: url("../images/about-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #F7F7F7; }
  .about-section .subparagraph {
    font-size: 16px;
    margin: 40px 0px; }
  .about-section .content {
    text-align: center; }

.work-section {
  background-color: white;
  position: relative; }
  .work-section .sections-title {
    padding: 0; }

.awards-section {
  padding-bottom: 50px;
  padding-top: 150px;
  background-image: url("../images/awards-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #FFFFFF; }
  .awards-section .skills-chart {
    display: inline-block;
    width: 50%;
    float: left; }
  .awards-section .awards-wrapper {
    float: right;
    width: 45%; }
    .awards-section .awards-wrapper h2 {
      margin-top: 0; }
  .awards-section p {
    text-align: left;
    margin: 35px 0; }
  .awards-section:after {
    content: '';
    clear: both;
    display: table; }

.experience-section {
  padding-top: 100px;
  background-color: #282071;
  background-image: url("../images/experience-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  color: white; }
  .experience-section h1 {
    text-shadow: 0px 2px 0px #141414; }
  .experience-section .right-span {
    border-left-color: white; }
  .experience-section .awards > div {
    width: 40%;
    display: inline-block; }
  .experience-section .awards-dates {
    text-align: right;
    vertical-align: top; }
    .experience-section .awards-dates p {
      color: white;
      font-size: 24px;
      font-family: 'avenirBold';
      margin: 30px 30px 0 0; }
  .experience-section .awards-details {
    text-align: left;
    max-width: 400px; }
    .experience-section .awards-details p {
      color: white; }
    .experience-section .awards-details .awards-headers {
      color: white;
      font-size: 16px;
      font-family: 'avenirBold';
      margin-bottom: 0; }

.contact-section {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url("../images/contact-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; }
  .contact-section .content {
    white-space: nowrap; }
  .contact-section .social-media ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin: 0; }
  .contact-section .social-media li {
    display: inline-block;
    padding: 0 10px; }
  .contact-section .social-media .social-icons {
    width: 65px;
    height: 65px;
    display: block;
    transition: all 400ms ease;
    background-size: contain; }
    .contact-section .social-media .social-icons:hover {
      transform: scale(1.2); }
  .contact-section .social-media .twitter {
    background-image: url("../social-icons/twitter-grey.svg"); }
    .contact-section .social-media .twitter:hover {
      background-image: url("../social-icons/twitter.svg"); }
  .contact-section .social-media .github {
    background-image: url("../social-icons/github-grey.svg"); }
    .contact-section .social-media .github:hover {
      background-image: url("../social-icons/github.svg"); }
  .contact-section .social-media .linkedin {
    background-image: url("../social-icons/linkedin-grey.svg"); }
    .contact-section .social-media .linkedin:hover {
      background-image: url("../social-icons/linkedin.svg"); }
  .contact-section .social-media .soundcloud {
    background-image: url("../social-icons/soundcloud-grey.svg"); }
    .contact-section .social-media .soundcloud:hover {
      background-image: url("../social-icons/soundcloud.svg"); }
  .contact-section .social-media .email {
    background-image: url("../social-icons/email-grey.svg"); }
    .contact-section .social-media .email:hover {
      background-image: url("../social-icons/email.svg"); }

.planets-rebus {
  top: 30px;
  left: 65%;
  position: absolute;
  background-image: url("../images/planets.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 300px; }

.planets-shadow {
  background-image: url("../images/planets-shadow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 305px;
  margin: 5% auto; }

.sputnik {
  background-image: url(../images/sputnik.svg);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: inherit;
  height: 100px;
  width: 300px;
  top: 100px;
  left: 73%;
  position: absolute;
  transform-origin: top left;
  animation: spin 7s linear infinite reverse; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.footer-section {
  background-image: url("../images/footer-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 80px;
  height: 170px;
  background-color: #f7f7f7; }
  .footer-section p {
    text-align: center;
    padding: 25px 40px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #f56aa1; }

.modal {
  position: fixed;
  z-index: 13;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 400ms ease;
  opacity: 0;
  visibility: hidden;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start; }
  .modal.show-modal {
    visibility: visible;
    opacity: 1; }
    .modal.show-modal .modal-wrapper {
      transform: none; }
  .modal .icons-buttons {
    display: none; }
  .modal .projects-right {
    text-align: left; }
    .modal .projects-right > div {
      float: left; }
    .modal .projects-right .info-wrapper {
      text-align: left; }
  .modal .projects > div {
    width: 50%; }
  .modal .projects .project-thumbnail {
    height: 310px; }
  .modal .projects .project-info {
    padding-top: 0; }
  .modal .modal-wrapper {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    position: relative;
    transition: all 400ms ease;
    align-self: center;
    transform: translateY(500px); }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 200ms ease; }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

.page-rebus {
  padding: 20px 20px 100px 20px;
  background: #281556;
  background: -moz-linear-gradient(45deg, #281556 0%, #281556 30%, #433b8b 71%, #433b8b 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #281556), color-stop(30%, #281556), color-stop(71%, #433b8b), color-stop(100%, #433b8b));
  background: -webkit-linear-gradient(45deg, #281556 0%, #281556 30%, #433b8b 71%, #433b8b 100%);
  background: -o-linear-gradient(45deg, #281556 0%, #281556 30%, #433b8b 71%, #433b8b 100%);
  background: -ms-linear-gradient(45deg, #281556 0%, #281556 30%, #433b8b 71%, #433b8b 100%);
  background: linear-gradient(45deg, #281556 0%, #281556 30%, #433b8b 71%, #433b8b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#281556', endColorstr='#433b8b', GradientType=1 ); }
  .page-rebus .page-rebus-frame {
    border: 1px solid #8F86DD;
    height: 100%;
    padding-top: 5%; }
    .page-rebus .page-rebus-frame .big-logo {
      height: 150px;
      margin: 0 auto;
      font-size: 70px;
      text-align: center;
      color: white; }
    .page-rebus .page-rebus-frame .page-rebus-quote {
      height: 110px; }
      .page-rebus .page-rebus-frame .page-rebus-quote .quote {
        color: white;
        width: 60%;
        text-align: center;
        font-size: 1.6rem;
        font-style: italic;
        margin-left: 20%;
        position: absolute;
        padding: 30px; }
      .page-rebus .page-rebus-frame .page-rebus-quote .quote-left {
        background-image: url("../images/quote-left.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 122px;
        height: 100px;
        position: absolute;
        margin-left: 20%; }
      .page-rebus .page-rebus-frame .page-rebus-quote .quote-right {
        background-image: url("../images/quote-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 122px;
        height: 100px;
        position: absolute;
        right: 0;
        margin-right: 20%;
        margin-top: 50px; }
    .page-rebus .page-rebus-frame .page-rebus-sign {
      font-family: 'avenirHeavy';
      color: rgba(255, 255, 255, 0.1);
      font-size: 2rem;
      text-align: center;
      width: 250px;
      margin: 25px auto 0 auto;
      padding-top: 25px;
      border-top: 1px solid #8F86DD; }
  .page-rebus .page-rebus-footer {
    width: 50%;
    height: 20%;
    background-image: url(../images/rebus-page-bottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: 0;
    position: absolute;
    right: 0; }

@media only screen and (min-width: 1300px) {
  header {
    min-height: 275px; }
    header .header-bkg {
      min-height: 275px; }

  .header-title-wrapper {
    padding: 50px 0; }

  .planets-rebus {
    top: 50px; } }
@media only screen and (max-width: 1100px) {
  .central-panel {
    width: 80%; } }
@media only screen and (max-width: 880px) {
  .modal .projects > div {
    width: 100%; }
  .modal h3 {
    margin-top: 15px !important; }
  .modal .modal-wrapper {
    align-self: auto;
    margin: 4% auto; }

  .header-title-wrapper {
    width: 100%; }

  .central-panel {
    width: 90%; }

  header {
    min-height: 0; }
    header .header-bkg {
      min-height: 0; }

  .page-rebus .page-rebus-frame .big-logo {
    height: 100px; }
  .page-rebus .page-rebus-frame .page-rebus-quote .quote-left {
    margin-left: 10%;
    width: 80px; }
  .page-rebus .page-rebus-frame .page-rebus-quote .quote {
    width: 80%;
    margin-left: 5%; }
  .page-rebus .page-rebus-frame .page-rebus-quote .quote-right {
    margin-right: 10%;
    width: 80px; }

  .planets-rebus {
    display: none; }

  .projects .project-thumbnail {
    width: 48%; } }
@media only screen and (max-height: 680px) and (min-width: 900px) {
  .page-rebus .planets-shadow {
    display: none; } }
@media only screen and (max-width: 680px) {
  .awards-section {
    padding-top: 75px; }
    .awards-section .sections {
      width: 100%;
      float: none;
      text-align: center;
      padding-top: 30px; }

  .projects .project-thumbnail {
    width: 100%; }
  .projects .project-info {
    width: 100%;
    padding: 0; }
    .projects .project-info h3 {
      margin-top: 15px; }
    .projects .project-info .info-wrapper {
      text-align: left; } }
@media only screen and (max-width: 580px) {
  .page-rebus .page-rebus-frame .page-rebus-quote .quote {
    font-size: 1.2rem; }
  .page-rebus .page-rebus-frame .big-logo {
    width: 85%;
    background-size: contain;
    height: 65px; }

  h1 {
    font-size: 35px; }

  .about-section .content {
    text-align: left; }

  .modal .modal-wrapper {
    width: 90%; }

  .experience-section {
    padding-top: 40px; }
    .experience-section .awards > div {
      width: 100%;
      text-align: left; }
    .experience-section .awards-dates p {
      margin: 0; }
    .experience-section .awards {
      padding-top: 35px; }

  .frontend-brand {
    font-size: 15px; }

  .contact-section {
    padding-top: 70px;
    padding-bottom: 40px; }
    .contact-section .social-media li {
      padding: 18px 3px 0 3px; }
    .contact-section .social-media .social-icons {
      width: 45px;
      height: 45px; }

  .trophy {
    display: block;
    float: none;
    margin: 0 auto; }

  .burger-container {
    top: 10px;
    right: 10px; }

  .header-title-wrapper {
    padding: 15px 0 10px 0; }
    .header-title-wrapper .header-title {
      font-size: 30px; }
    .header-title-wrapper .header-subtitle {
      font-size: 20px; }

  .planets-shadow {
    width: 220px; }

  .sections-title .content {
    margin: 15px 0 0 0; } }

/*# sourceMappingURL=styles.css.map */
