@import "_variables";
@import "_fonts";

html, body{
  height: 100%;
  width: 100%;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'avenirRegular', Arial;
}

h1{
  font-family: 'avenirHeavy';
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h2{
  text-transform: uppercase;
  font-family: 'avenirBold';
  font-size: 30px;
}

h3{
  font-family: 'avenirBold';
  font-size: 23px;
}

p{
  font-family: 'avenirRegular';
  font-size: 21px;
  color: $font-dark-muted;
}

a{
  color: $font-pink;
  font-family: 'avenirBold';
  text-transform: uppercase;
  font-size: 20px;
}

.no-scroll{
  overflow: hidden;
}

.page{
  position: relative;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: white;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.central-panel{
  width: 70%;
  margin: 0 auto;
}

.page-content{
  transition: all 200ms ease-out;
  background-color: white;
  &.scale-content{
    // transform: scaleX(0.94) scaleY(0.98);
    // filter: blur(3px);
  }
}



.burger-container{
  position: fixed!important;
  display: inline-block;
  top: 40px;
  right: 40px;
  transition: all 200ms ease-in-out;
  z-index: 3;
  color:white;
  cursor: pointer;
}

.menu-overlayer{
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 2;
  transition: all 200ms ease;
  .menu-item-wrapper{
    padding-top: 170px;
  }
  .menu-item{
    background-color: $dark-bg;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0 15px;
    transform: rotateX(90deg);
    @for $i from 1 through 4{
      &.item-#{$i}{
        transition: all 200ms linear;
        transition-delay: $i * 100ms;
      }
    }
    a{
      text-decoration: none;
      color: white;
      text-shadow: $text-shadow;
    }
  }
  &.open{
    background-color: rgba(0,0,0,.8);
    opacity: 1;
    visibility: visible;
    .menu-item{
      transform: rotateX(0deg);
    }
  }
}

header{
  background-color: $dark-bg;
  background-image: url('../images/header-bkg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.frontend-brand{
  color: $font-pink;
  font-family: 'avenirBold';
  font-size: 16px;
  margin: 0 0 20px 0;
}

.header-title-wrapper{
  padding: 80px 0px 50px 0;
  width: 60%;
  .header-title{
    color: white;
    text-shadow: $text-shadow;
  }
  .header-subtitle{
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 28px;
    color: white;
    text-shadow: $text-shadow;
    margin: 0 0 20px 0;
  }

}

.projects{
  padding: 30px 0;
  &.projects-right{
    .info-wrapper{
      text-align: end;
    }
  }
  .project-thumbnail{
    height: 100px;
    width: 40%;
    background-color: #ccc;
    height: 200px;
  }
  .project-info{
    width: 55%;
    padding: 0 15px;
    .info-wrapper{
      // max-width: 300px;
    }
    h3{
      margin-top: 0;
      color: $font-dark;
    }
    a{
      text-decoration: underline;
    }
  }
  &.projects-left{
    >div{
      float: left;
    }
  }
  &.projects-right{
    >div{
      float: right;
    }
  }
  &:after{
    content: '';
    clear: both;
    display: table;
  }
}

.buttons{
  // width: 205px;
  margin: 30px auto;
  display: inline-block;
  border: 2px solid $font-pink;
  padding: 15px 20px 10px 20px;
  border-radius: 2px;
  transition: all 200ms ease;
  text-decoration: none;
  &:hover{
    background-color: $font-pink;
    color: white;
  }
}

.centre-button{
  text-align: center;
}

.sections-title{
  padding: 50px 0 0 0;
  text-align: center;
  .content{
    // width: 185px;
    margin: 30px 0;
    display: inline-block;
  }
  .left-span{
    display: inline-block;
  }
  .right-span{
    border-left: 2px solid $transparent-black;
    padding: 15px 6px 10px 6px;
    float: right;
    display: inline-block;
    min-width: 50%;
    text-align: left;
  }
  .pre-title{
    &:after{
      content: '';
      clear: both;
      display: table;
    }
  }
}

.about-section{
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url('../images/about-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #F7F7F7;
  .subparagraph{
    font-size: 16px;
    margin: 40px 0px;
  }
  .content{
    text-align: center;
  }
}
.work-section{
  .sections-title{
    padding: 0;
  }
}
.awards-section{
  padding-bottom: 50px;
  padding-top: 150px;
  background-image: url('../images/awards-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #FFFFFF;
  .skills-chart{
    display: inline-block;
    height: 400px;
    width: 50%;
    // background-color: #ccc;
  }
  .awards-wrapper{
    float: right;
    width: 45%;
  }
  p{
    text-align: left;
    margin: 35px 0;
  }
  &:after{
    content: '';
    clear: both;
    display: table;
  }
}

.experience-section{
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: $dark-bg;
  background-image: url('../images/experience-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  h1{
    text-shadow: $text-shadow;
  }
  .right-span{
    border-left-color: white;
  }
  .awards{
    >div{
      width: 49%;
      display: inline-block;
    }
  }
  .awards-dates{
    text-align: right;
    vertical-align: top;
    p{
      color: white;
      font-size: 33px;
      font-family: 'avenirBold';
      margin: 60px 70px 0 0;
    }
  }
  .awards-details{
    text-align: left;
    max-width: 400px;
    .awards-headers{
      color: white;
      font-size: 26px;
    }
  }
}

.contact-section{
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url('../images/contact-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  .content{
    // width: 275px;
    white-space: nowrap;
  }
  .social-media{
    ul{
      list-style-type: none;
      padding-left: 0;
      text-align: center;
      margin: 0;
    }
    li{
      display: inline-block;
      padding: 0 10px;
    }
    .social-icons{
      width: 65px;
      height: 65px;
      display: block;
      transition: all 400ms ease;
      background-size: contain;
    }
    .twitter{
      background-image: url('../social-icons/twitter-grey.svg');
      &:hover{
        background-image: url('../social-icons/twitter.svg');
        transform: scale(1.2);
        // transform: rotate(360deg);
      }
    }
    .github{
      background-image: url('../social-icons/github-grey.svg');
      &:hover{
        background-image: url('../social-icons/github.svg');
        transform: scale(1.2);
        // transform: rotate(360deg);
      }
    }
    .linkedin{
      background-image: url('../social-icons/linkedin-grey.svg');
      &:hover{
        background-image: url('../social-icons/linkedin.svg');
        transform: scale(1.2);
        // transform: rotate(360deg);
      }
    }
    .soundcloud{
      background-image: url('../social-icons/soundcloud-grey.svg');
      &:hover{
        background-image: url('../social-icons/soundcloud.svg');
        transform: scale(1.2);
        // transform: rotate(360deg);
      }
    }
    .email{
      background-image: url('../social-icons/email-grey.svg');
      &:hover{
        background-image: url('../social-icons/email.svg');
        transform: scale(1.2);
        // transform: rotate(360deg);
      }
    }
  }
}

.footer-section{
  background-image: url('../images/footer-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 100px;
  height: 170px;
  background-color: #f7f7f7;
  p{
    text-align: center;
    padding: 25px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color:$font-pink;
  }
}

@media only screen and (max-width: 880px) {
  .central-panel {
    width: 90%;
  }
}

@media only screen and (max-width: 580px) {

  h1{
    font-size: 45px;
  }

  .experience-section{
    .awards{
      >div{
        width: 100%;
        text-align: left;
      }
    }
    .awards-dates{
      p{
        margin: 0;
      }
    }
    .awards{
      padding-top: 35px;
    }
  }

  .awards-section{
    .sections{
      width: 100%;
      float: none;
    }
    p{
      text-align: center;
    }
  }
  .frontend-brand{
    font-size: 15px;
  }
  .projects{
    .project-thumbnail {
      width: 100%;
    }
    .project-info{
      width: 100%;
      padding: 0;
    }
  }

  .contact-section{
    .social-media{
      li{
        padding: 0px 3px;
      }
      .social-icons{
        width: 45px;
        height: 45px;
      }
    }
  }
}
