@import "_variables";
@import "_fonts";

html, body{
  height: 100%;
  width: 100%;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'avenirRegular', Arial;
}

h1{
  font-family: 'avenirHeavy';
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h2{
  text-transform: uppercase;
  font-family: 'avenirBold';
  font-size: 30px;
}

h3{
  font-family: 'avenirBold';
  font-size: 18px;
}

p{
  font-family: 'avenirRegular';
  font-size: 16px;
  color: $font-dark-muted;
}

a{
  color: $font-pink;
  font-family: 'avenirBold';
  text-transform: uppercase;
  font-size: 16px;
}

.no-scroll{
  overflow: hidden;
}

.page{
  position: relative;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: white;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.central-panel{
  width: 70%;
  margin: 0 auto;
}

.loader-overlayer{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #282071;
  z-index: 14;
  transition: all 200ms ease;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start;
  &.hide-loader{
    opacity: 0;
    visibility: hidden;
  }
  .loader-wrapper{
    text-align: center;
    width: 100%;
    align-self: center;
  }
  .loader{
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: white;
    animation: rotateSpinner 800ms ease infinite;
  }
}

@keyframes rotateSpinner {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.page-content{
  transition: all 200ms ease-out;
  background-color: white;
}

.burger-container{
  position: fixed!important;
  display: inline-block;
  top: 25px;
  right: 25px;
  transition: all 200ms ease-in-out;
  z-index: 13;
  background: url('../images/burguer-1.svg');
  background-size: contain;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.menu-overlayer{
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 11;
  transition: all 200ms ease;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start;
  .menu-item-wrapper{
    align-self: center;
    width: 100%;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    transform: rotateX(90deg);
    @for $i from 1 through 4{
      &.item-#{$i}{
        transition: all 200ms linear;
        transition-delay: $i * 100ms;
      }
    }
  }
  .menu-item{
    display: block;
    background-color: $dark-bg;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0 15px;
    text-decoration: none;
    color: white;
    text-shadow: $text-shadow;
    transition: all 200ms ease;
    &:hover{
      color: $font-pink;
    }
  }
  &.open{
    background-color: rgba(0,0,0,.8);
    opacity: 1;
    visibility: visible;
    li{
      transform: rotateX(0deg);
    }
  }
}

header{
  background-color: $dark-bg;
  background-image: url('../images/header-bkg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 220px;
}

.frontend-brand{
  color: $font-pink;
  font-family: 'avenirBold';
  font-size: 16px;
  margin: 0 0 20px 0;
}

.header-title-wrapper{
  padding: 30px 0px 25px 20px;
  width: 60%;
  .header-title{
    color: white;
    text-shadow: $text-shadow;
  }
  .header-subtitle{
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 28px;
    color: white;
    text-shadow: $text-shadow;
    margin: 0 0 10px 0;
  }
}

.projects-wrapper{
  overflow-y: hidden;
  transition: all 800ms ease-in-out;
}

.projects{
  padding: 30px 0;
  &.projects-right{
    .info-wrapper{
      text-align: end;
    }
  }
  .project-thumbnail{
    height: 100px;
    width: 40%;
    background-color: #ccc;
    height: 200px;
  }
  .project-info{
    width: 55%;
    padding: 0 15px;
    h3{
      margin-top: 0;
      color: $font-dark;
    }
    a{
      text-decoration: underline;
    }
  }
  &.projects-left{
    >div{
      float: left;
    }
  }
  &.projects-right{
    >div{
      float: right;
    }
  }
  &:after{
    content: '';
    clear: both;
    display: table;
  }
}

.buttons{
  margin: 30px auto;
  display: block;
  border: 2px solid $font-pink;
  border-radius: 2px;
  transition: all 200ms ease;
  text-decoration: none;
  cursor: pointer;
  width: 250px;
  height: 53px;
  position: relative;
  opacity: 1;
  text-align: center;
  a{
    transition: all 200ms ease;
    margin-top: 17px;
    display: block;
  }
  &:hover{
    background-color: $font-pink;
    a{
      color: white;
      pointer-events: none;
    }
  }
}

.centre-button{
  text-align: center;
}

.work-loader-wrapper{
  height: 100%;
  width: 100%;
  display: inline-block;
  background-color: $font-pink;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 200ms ease;
  opacity: 1;
  transform: rotateX(90deg);
  transform-origin: bottom;
  .work-loader{
    display: inline-block;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: $font-pink;
    top: 6px;
    position: relative;
    box-shadow: 0px -12px 0px 13px white inset;
    animation: rotate .8s infinite ease;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sections-title{
  text-align: center;
  .content{
    margin: 30px 0;
    display: inline-block;
  }
  .left-span{
    display: inline-block;
  }
  .right-span{
    border-left: 2px solid $transparent-black;
    padding: 15px 6px 10px 6px;
    float: right;
    display: inline-block;
    min-width: 50%;
    text-align: left;
  }
  .pre-title{
    &:after{
      content: '';
      clear: both;
      display: table;
    }
  }
}

.about-section{
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url('../images/about-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #F7F7F7;
  .subparagraph{
    font-size: 16px;
    margin: 40px 0px;
  }
  .content{
    text-align: center;
  }
}
.work-section{
  .sections-title{
    padding: 0;
  }
}
.awards-section{
  padding-bottom: 50px;
  padding-top: 150px;
  background-image: url('../images/awards-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #FFFFFF;
  .skills-chart{
    display: inline-block;
    height: 400px;
    width: 50%;
    float: left;
  }
  .awards-wrapper{
    float: right;
    width: 45%;
  }
  p{
    text-align: left;
    margin: 35px 0;
  }
  &:after{
    content: '';
    clear: both;
    display: table;
  }
}

.experience-section{
  padding-top: 120px;
  background-color: $dark-bg;
  background-image: url('../images/experience-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  h1{
    text-shadow: $text-shadow;
  }
  .right-span{
    border-left-color: white;
  }
  .awards{
    >div{
      width: 40%;
      display: inline-block;
    }
  }
  .awards-dates{
    text-align: right;
    vertical-align: top;
    p{
      color: white;
      font-size: 24px;
      font-family: 'avenirBold';
      margin: 30px 30px 0 0;
    }
  }
  .awards-details{
    text-align: left;
    max-width: 400px;
    p{
      color: white;
    }
    .awards-headers{
      color: white;
      font-size: 16px;
      font-family: 'avenirBold';
      margin-bottom: 0;
    }
  }
}

.contact-section{
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url('../images/contact-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  .content{
    white-space: nowrap;
  }
  .social-media{
    ul{
      list-style-type: none;
      padding-left: 0;
      text-align: center;
      margin: 0;
    }
    li{
      display: inline-block;
      padding: 0 10px;
    }
    .social-icons{
      width: 65px;
      height: 65px;
      display: block;
      transition: all 400ms ease;
      background-size: contain;
    }
    .twitter{
      background-image: url('../social-icons/twitter-grey.svg');
      &:hover{
        background-image: url('../social-icons/twitter.svg');
        transform: scale(1.2);
      }
    }
    .github{
      background-image: url('../social-icons/github-grey.svg');
      &:hover{
        background-image: url('../social-icons/github.svg');
        transform: scale(1.2);
      }
    }
    .linkedin{
      background-image: url('../social-icons/linkedin-grey.svg');
      &:hover{
        background-image: url('../social-icons/linkedin.svg');
        transform: scale(1.2);
      }
    }
    .soundcloud{
      background-image: url('../social-icons/soundcloud-grey.svg');
      &:hover{
        background-image: url('../social-icons/soundcloud.svg');
        transform: scale(1.2);
      }
    }
    .email{
      background-image: url('../social-icons/email-grey.svg');
      &:hover{
        background-image: url('../social-icons/email.svg');
        transform: scale(1.2);
      }
    }
  }
}
.planets-rebus{
  top: 30px;
  left:65%;
  position: absolute;
  background-image: url('../images/planets.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height:70px;
  width:300px;
}
.abeja{
  background-image: url('../images/abeja.svg');
  background-repeat: no-repeat;
  height:66px;
  width:55px;
  display: inline-block;
  margin-left: 15px;
}
.trophy{
  background-image: url('../images/trophy.svg');
  background-repeat: no-repeat;
  height:64px;
  width:64px;
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.g-love{
  background-image: url(../images/g-love.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
  display: inline-block;
  margin-left: 15px;
}
.face-rebus{
  background-image: url('../images/face.svg');
  background-repeat: no-repeat;
  height:30px;
  width:90px;
  display: inline-block;
  float: right;
  margin-top: -80px;
  margin-bottom: 80px;
}
.bat-rebus{
  background-image: url('../images/bat-rebus.svg');
  background-repeat: no-repeat;
  height:58px;
  width:80px;
  display: inline-block;
  float: right;
  margin-top:-30px;
  margin-bottom: 30px;
}
.card-rebus{
  background-image: url('../images/card-rebus.svg');
  background-repeat: no-repeat;
  height:48px;
  width:79px;
  display: inline-block;
  float: right;
  margin-top: -70px;
}
.green-rebus{
  background-image: url('../images/green-rebus.svg');
  background-repeat: no-repeat;
  height:40px;
  width:120px;
  display: inline-block;
  margin-top: 25px;
}
.gallina{
  background-image: url('../images/gallina.svg');
  background-repeat: no-repeat;
  height:110px;
  width:120px;
  display: inline-block;
  margin-top: -50px;
}
.flight-rebus{
  background-image: url('../images/flight-rebus.svg');
  background-repeat: no-repeat;
  height:70px;
  width:70px;
  float: right;
}
#augusto-chart{
  max-height: 450px;
  max-width: 450px;
}
.footer-section{
  background-image: url('../images/footer-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 80px;
  height: 170px;
  background-color: #f7f7f7;
  p{
    text-align: center;
    padding: 25px 40px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color:$font-pink;
  }
}

.modal {
  position: fixed;
  z-index: 13;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start;
  &.show-modal{
    visibility: visible;
    opacity: 1;
    .modal-wrapper{
      transform: none;
    }
  }
  .modal-wrapper {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    position: relative;
    transition: all 300ms ease;
    align-self: center;
    transform: translateY(500px);
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 200ms ease;
  &:hover, &:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1300px) {
  header{
    min-height: 275px;
  }
  .header-title-wrapper{
    padding: 50px 0;
  }
  .planets-rebus{
    top:50px;
  }
}

@media only screen and (max-width: 880px) {
  .central-panel {
    width: 90%;
  }
}

@media only screen and (max-width: 580px) {

  h1{
    font-size: 45px;
  }

  .experience-section{
    .awards{
      >div{
        width: 100%;
        text-align: left;
      }
    }
    .awards-dates{
      p{
        margin: 0;
      }
    }
    .awards{
      padding-top: 35px;
    }
  }


  .awards-section{
    .sections{
      width: 100%;
      float: none;
    }
    p{
      text-align: center;
    }
    .awards-wrapper {
      text-align: center;
    }
  }
  .frontend-brand{
    font-size: 15px;
  }
  .projects{
    .project-thumbnail {
      width: 100%;
    }
    .project-info{
      width: 100%;
      padding: 0;
      h3{
        margin-top: 15px;
      }
    }
  }

  .contact-section{
    .social-media{
      li{
        padding: 0px 3px;
      }
      .social-icons{
        width: 45px;
        height: 45px;
      }
    }
  }
  .trophy{
    display: block;
    float: none;
    margin: 0 auto;
  }
  .burger-container{
    top: 20px;
    right: 20px;
  }
}
